/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: rgb(172, 53, 112, 0.6);
    z-index: 10;
}

.header-left,
.footer-left {
    display: flex;
}

.header-left .fa,
.footer-left .fa {
    font-size: 32px;
    color: white;
    margin-right: 10px;
}

h1 {
    font-size: 30px;
    color: rgb(27, 16, 16);
}

.header-right ul {
    display: flex;
}

.header-right li {
    padding: 20px 10px;
    transition: 0.5s;
    cursor: pointer;
}

.header-right a {
    font-size: 18px;
    font-weight: 700;
    color: rgb(68, 9, 68);
}

.header-right li:hover {
    background-color: rgb(214, 161, 170, 0.8);
}

/* main settings*/
main {
    margin-top: 72px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* products wrapper */
.products-wrapper {
    background: url(https://miro.medium.com/proxy/1*NFlpm3M0NNReXcaQagFpFg.jpeg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 350px;
    padding: 20px;
    text-align: center;
}

.products {
    flex-direction: column;
    height: 300px;
    background-color: rgba(36, 7, 19, 0.6);
}

h2 {
    font-size: 32px;
    color:rgb(207, 141, 180);
    opacity: 0.8;
}

.product-list,
.stories-list {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.product {
    padding: 10px;
    width: 25%;
    transition: 0.5s;
    cursor: pointer;
    border: 3px;
}

.product .fa {
    font-size: 50px;
    color: pink;
    margin-bottom: 20px;
}

.product a {
    color: palevioletred;
    opacity: 0.8;
    font-weight: 700;
}

.product a:hover {
    color: palevioletred;
    opacity: 1;
}

.product:hover {
    background-color: rgb(78, 49, 73, 0.7);
}

/* stories wrapper*/

.stories {
    background-color: rgba(36, 7, 19, 0.6);
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.story {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

.client {
    margin-right: 20px;
    text-align: center;
}

.client img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.client p {
    color: rgb(129, 18, 18);
    font-weight: 600;
}

.comment {
    width: 100%;
}

.comment p {
    font-weight: 12px;
    text-align: justify;
    color: rgb(196, 174, 192);
}

/* free consultation wrapper*/
.free-consultation-wrapper {
    background: url(https://static.wixstatic.com/media/e63643c2b5da4a308a32eb689864913d.jpg/v1/fill/w_960,h_510,al_c,q_85,usm_0.66_1.00_0.01/e63643c2b5da4a308a32eb689864913d.webp);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: left;
}

.free {
    justify-content: space-around;
    align-items: left;
    height: 350px;
    background-color: rgb(99, 41, 99, 0.6);
}

.subscribe {
    padding: 20px;
    font-size: 18px;
    color: pink;
    border: none;
    background-color: maroon;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
}

.subscribe:hover {
    opacity: 1;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(172, 53, 112, 0.6);
    z-index: 10;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-icon {
    display: flex;
}

.copyright {
    font-size: 10px;
}

.footer-right {
    display: flex;
}

.footer {
    padding: 0 30px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: rgb(44, 3, 44);
}
